<main>
    <section>
        <div class="title">
            <h1>Inicio</h1>
        </div>
        <aside>
            <div>
                <h2>132</h2>
                <p>Articulos</p>
            </div>
            <div>
                <h2>562</h2>
                <p>Comentarios</p>
            </div>
            <div>
                <h2>41</h2>
                <p>Usuarios</p>
            </div>
            <div>
                <h2>1200</h2>
                <p>Visitas</p>
            </div>
        </aside>
    </section>
</main>
<script src="assets/js/admin.js"></script>