<menu>
    <ul>
        <li><a href="/admin"><img src="assets/img/home.png">Inicio</a></li>
        <li><a href="/admin/articulos"><img src="assets/img/article.png">Articulos</a></li>
        <li><a href="/admin/comentarios"><img src="assets/img/coment.png">Comentarios</a></li>
        <li><a href="/admin/usuarios"><img src="assets/img/user.png">Usuarios</a></li>
    </ul>
</menu>
<main>
    <section>
        <aside>
            <div>
                <h2>132</h2>
                <p>Articulos</p>
            </div>
            <div>
                <h2>562</h2>
                <p>Comentarios</p>
            </div>
            <div>
                <h2>41</h2>
                <p>Usuarios</p>
            </div>
            <div>
                <h2>1200</h2>
                <p>Visitas</p>
            </div>
        </aside>
    </section>
</main>
<script src="assets/js/admin.js"></script>