<div class="header">
    <img src="/assets/img/fondo.jpg" alt="">
    <h1>BIENVENIDO</h1>
</div>
<main>
    <section>
        <div id="data-container"></div>
        <div id="pagination-container"></div>
    </section>
</main>