<div class="admi-conf">
    <button onclick="userAdmin()">ADMIN USER</button>
    <button onclick="userNormal()">NORMAL USER</button>
</div>
<section>
    <div class="signBox">
        <h1>Iniciar sessi칩n</h1>
        <div class="inputBox">
            <span class="loadBar"><span></span></span>
            <form id="formIn" onsubmit="return false">
                <div class="text-field" id="username">
                    <input type="text" required autocomplete="off" autofocus value="">
                    <label class="label">Nombre de usuario</label>
                </div>
                <span id="sessionErrorUsername"></span>
                <div class="text-field" id="password">
                    <input id="passwd1" type="password" required autocomplete="off" value="" name="password">
                    <label class="label">Contrase침a</label>
                </div>
                <span id="sessionError" class="spanError"></span>
                <div class="showPassword">
                    <input type="checkbox" id="showPassword" onclick="showPasword()">
                    <label for="showPassword"> Mostrar contrase침a</label>
                </div>
                <div class="btn-box">
                    <button type="button">Crear cuenta</button><button onclick="iniciarSession()">Iniciar
                        sessi칩n</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    const userAdmin = () => {
        document.querySelector('#username input').value = "root"
        document.querySelector('#password input').value = "root"
    }
    const userNormal = () => {
        document.querySelector('#username input').value = "user"
        document.querySelector('#password input').value = "user"
    }
</script>
<script src="./assets/js/login.js"></script>